.App {
    background-color: #f7f7f7;
}

.wrapper {
    box-sizing: border-box;
    padding: 0 35px 17px 35px;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1010px;
}

.search-input {
    height: 40px;
    font-size: 18px;
}
